<form>
    <div class="form-row p-4">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Simbolo">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Descripcion">
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary">Agregar</button>
            <button type="button" class="btn btn-secondary">cancelar</button>
            <button type="button" class="btn btn-success">Eliminar</button>
        </div>
    </div>
</form>