<!-- <app-paciente-detail></app-paciente-detail>

<app-paciente-edit></app-paciente-edit> -->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ tituloModal }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <app-paciente-edit [pac]="patientPasadoAlModal" [add]="agregar" *ngIf="activateAddEditPac">
                    </app-paciente-edit>
                </div>
            </div>
            <!--             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"
                    (click)="onClose()">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>
<hr>
<!-- <div class="row ">
    <div class="col-md-12 bg-white lista-pacientes mt-4 ">
        <app-paciente-list></app-paciente-list>
    </div>
</div> -->

<div class="row bg-white p-4 ">
    <div class="col-3-md">
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group"><input aria-describedby="basic-addon2" aria-label="Search"
                    class="form-control bg-light border-0 small" placeholder="Buscar ..." type="text">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        (click)='addPaciente()'>agregar</button>
</div>


<!-- 
<app-paciente-item ></app-paciente-item> -->
<div class="row bg-white">
    <table class="table table-hover table-sm bg-white">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cedula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paciente of pacientes; let i = index" (click)="onPactientSelected(paciente.id)"
                style="cursor: pointer;">
                <th scope="row">{{ i + 1}}</th>
                <td>{{paciente.cedula}}</td>
                <td>{{paciente.nombre}}</td>
                <td>{{paciente.apellido}}</td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        (click)="onEdit(paciente)">
                        Editar</button>
                    <button class="btn btn-danger"> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>