<form [formGroup]="tipoExForm">
    <div class="form-row">
        <div class="form-group col-md-4">
            <h4>Codificacion</h4>
            <input formControlName="codigo" type="text" class="form-control" placeholder="Codigo del Examen">
        </div>
        <div class="form-group col-md-4">
            <h4>Nombre del Examen</h4>
            <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre del Examen">
        </div>
        <div class="form-group col-md-4">
            <h4>Descripcion</h4>
            <input formControlName="descripcion" type="text" class="form-control" placeholder="Descripcion">
        </div>
    </div>
    <hr>
    <h4>Items del examen</h4>
    <div class="boton-mas">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="onAddItem()"> +</button>
    </div>
    <div formArrayName="items">
        <div *ngFor="let itemControl of tipoExForm.get('items').controls; let i = index">
            <div [formGroupName]="i">
                <div class="form-row">
                    <div class="col-md-3">
                        <input formControlName="nombreItem" type="text" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="col-md-3">
                        <input formControlName="descripcionItem" type="text" class="form-control"
                            placeholder="Descripcion">
                    </div>
                    <div class="col-md-2">
                        <input formControlName="valorIniItem" type="number" class="form-control"
                            placeholder="Valor inicial">
                    </div>
                    <div class="col-md-2">
                        <input formControlName="valorFinalItem" type="number" class="form-control"
                            placeholder="Valor Limite">
                    </div>
                    <div class="form-group col-md-1">
                        <select formControlName="unidadSelected" id="inputState" class="form-control">
                            <option selected>Unidad</option>
                            <option *ngFor="let unidad of unidades" value="{{unidad.id}}">{{ unidad.nombre}}</option>
                        </select>
                    </div>
                    <button class="btn btn-primary" (click)="removeItem(i)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <button style="float: right;" class="btn btn-primary" type="submit" (click)="onSubmit()">Guardar</button>

</form>