<div class=" bg-white p-3">

    <div class="row">
        <div class=" col-md-12 title">
            <h1> Analistas</h1>
        </div>
    </div>

    <analista-edit></analista-edit>


    <div class="row p-3">

        <div class="col-md-12">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Estatus</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Gerardo</td>
                        <td>Colina</td>
                        <td>gerardocolina@gmail.com</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Thornton</td>
                        <td>Contreras</td>
                        <td>prueba@gmail.com</td>
                        <td>Inactivo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>Quintero</td>
                        <td>prueba2@gmail.com</td>
                        <td>Activo</td>
                    </tr>
                </tbody>

            </table>
        </div>



    </div>


</div>