<div class="row">
    <div class="col-md-12">
        <form [formGroup]="analistaForm" (ngSubmit)="onSubmit()">
            <div class="form-group ">
                <div class="row">
                    <div class="col-md-3">
                        <input formControlName="nombre" type="text" placeholder="Nombre" id="nombre"
                            class="form-control" />
                        <span *ngIf="!analistaForm.get('nombre').valid && analistaForm.get('nombre').touched"
                            class="help-block">Please type a name</span>
                    </div>
                    <div class="col-md-3">
                        <input formControlName="apellido" type="text" id="apellido " class="form-control"
                            placeholder="apellido" />
                    </div>
                    <div class="col-md-3">
                        <input formControlName="email" type="email" id="email " class="form-control"
                            placeholder="email" />
                    </div>
                    <div class="col-md-3">
                        <input formControlName="password" type="text" id="clave " class="form-control"
                            placeholder="clave" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <button [disabled]="!analistaForm.valid" class="btn btn-success " type="submit">
                        {{ editMode ? 'Actualizar' : 'Agregar'}}
                    </button>
                    <button [disabled]="!editMode" class="btn btn-danger ml-2" type="button"
                        (click)="onDelete()">Eliminar</button>

                    <button class="btn btn-primary ml-2" type="button" (click)="onClear()">Cancelar</button>
                    <button *ngIf="analista && (analista.estatus === 'inactivo')" [disabled]="!editMode"
                        class="btn btn-danger ml-2" type="button" (click)="onActivate()">Activar</button>
                </div>
            </div>
        </form>
    </div>
</div>