<unidad-edit></unidad-edit>

<hr>
<div class="container">
    <div class="row">

        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Simbolo</th>
                    <th scope="col">Descripcion</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>g</td>
                    <td>Gramos</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>g/dL</td>
                    <td>Gramos por decilitro</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>mcg/dL</td>
                    <td>Microgramos por decilitro</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>