<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="form-group row mb-2">
            <label for="" class="col-md-2 col-label-form"> Cedula </label>
            <div class="col-md-10">
                <input formControlName="cedula" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="nombreId" class="col-md-2 col-form-label">Nombre</label>
            <div class="col-md-10 ">
                <input formControlName="nombre" type="text" class="form-control" />
            </div>

        </div>
        <div class="row form-group mb-2">
            <label for="apellidoId" class="col-md-2 col-form-label">Apellido</label>
            <div class="col-md-10 ">
                <input formControlName="apellido" type="text" class="form-control" />
            </div>
        </div>
        <div class="row form-group mb-2">
            <label for="fecha_nac" class="col-md-2 col-form-label">Fecha de Nacimiento</label>
            <div class="col-md-10 ">
                <input formControlName="fecha_nac" type="date" class="form-control" />
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="emailId" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10 ">
                <input formControlName="email" type="text" class="form-control" />
            </div>
        </div>
        <div class="row form-group mb-2">
            <label for="telefono" class="col-md-2 col-form-label">telefono</label>
            <div class="col-md-10 ">
                <input formControlName="telefono" type="text" class="form-control" />
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12 modal-footer" style="text-align: center;">
                <button type="submit" class="btn btn-primary ">Guardar</button>
            </div>
        </div>
    </div>

</form>