<div class="modal-header">
    <h4 class="modal-title pull-left">Datos de Paciente</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    .
    <form>
        <div class="container">
            <div class="form-group row mb-2">
                <label for="" class="col-md-2 col-label-form"> Cedula</label>
                <div class="col-md-10">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="nommbreId" class="col-md-2 col-form-label">Nombre</label>
                <div class="col-md-10 ">
                    <input type="text" class="form-control" />
                </div>

            </div>
            <div class="row form-group mb-2">
                <label for="apellidoId" class="col-md-2 col-form-label">Apellido</label>
                <div class="col-md-10 ">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <label for="emailId" class="col-md-2 col-form-label">Email</label>
                <div class="col-md-10 ">
                    <input type="text" class="form-control" />
                </div>

            </div>
            <!--
            <div class="row form-group mb-2">
                <label for="fechaNac" class="col-md-4 col-form-label">Fecha de Nacimiento</label>
                <div class="col-md-8 ">
                    <input type="text" class="form-control" />
                </div>
            </div>
           -->
            <div class="row mt-4">
                <div class="col-md-12 " style="text-align: center;">
                    <button type="button" class="btn btn-primary ">Guardar</button>
                </div>
            </div>
        </div>

    </form>
</div>