<div class="row bg-white p-4 ">
    <div class="col-sm-12 no-patient-selected d-none">
        <span>Por favor selecione un paciente de la lista.</span>
    </div>
    <div class="col-sm-12 patient-selected ">
        <h3>Paciente Seleccionado:</h3>
        <div class="row">
            <div class="col-md-2"><span class="atributo">Nombre: </span></div>
            <div class="col-md-4"><span class="valor">Gerardo</span></div>
            <div class="col-md-2"><span class="atributo">Apellido: </span></div>
            <div class="col-md-4"><span class="valor">Colina</span></div>
        </div>

        <div class="row">
            <div class="col-md-2"><span class="atributo">Cedula: </span></div>
            <div class="col-md-4"><span class="valor">20569539</span></div>
            <div class="col-md-2"><span class="atributo">Correo: </span></div>
            <div class="col-md-4"><span class="valor">gerardocolina@gmail.com</span></div>
            <br>
        </div>

        <div class="row">
            <div class="col-md-12 pt-3">
                <h3>Examenes realizados al paciente</h3>
                <hr>
            </div>

            <div class="col-md-12 pb-3">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">id</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>20569539_14042020</td>
                            <td>14/04/2020</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>2352148_140220207</td>
                            <td>14/02/2020</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>21453698_12072020</td>
                            <td>12/07/2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>